---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "download.scss";
@import "home.scss";

@media (min-width: 768px) {
  .kAppInfo a, .kAppInfo video, .kAppInfo-content, .kTeamMember {
    flex: 1 0;
  }
}

.kAppInfo a, .kAppInfo video {
  width: 100%;
  height: auto;
  margin: 15px;
}

.kAppInfo img {
  min-width: 100%;
  height: auto;
  margin: 0;
}
.kTeamMember img {
  margin-left: 15%;
  box-shadow: 4px 4px 4px #808080;
}

