---
title: The KMyMoney project on KDE CI
layout: page
---

<center>
  <h1>The build status on KDE CI</h1>

  <hr/>

  <h2>Stable Qt5</h2>

  <h3>Alkimia</h3>

  <table>
    <thead>
      <th>Linux</th><th>Windows</th><th>FreeBSD</th>
    </thead>
    <tbody>
      <tr>
        <td>
            <a href='https://build.kde.org/job/Extragear/job/alkimia/job/stable-kf5-qt5%20SUSEQt5.14/'><img src='https://build.kde.org/buildStatus/icon?job=Extragear/alkimia/stable-kf5-qt5 SUSEQt5.14'></a>
        </td>
        <td>
            <a href='https://build.kde.org/job/Extragear/job/alkimia/job/stable-kf5-qt5%20WindowsMSVCQt5.14/'><img src='https://build.kde.org/buildStatus/icon?job=Extragear/alkimia/stable-kf5-qt5 WindowsMSVCQt5.14'></a>
        </td>
        <td>
            <a href='https://build.kde.org/job/Extragear/job/alkimia/job/stable-kf5-qt5%20FreeBSDQt5.14/'><img src='https://build.kde.org/buildStatus/icon?job=Extragear/alkimia/stable-kf5-qt5 FreeBSDQt5.14'></a>
        </td>
    </tbody>
  </table>

  <h3>KMyMoney</h3>

  <table>
    <thead>
      <tr><th>Linux</th><th>Windows</th><th>FreeBSD</th>
    </tr></thead>
    <tbody>
      <tr>
        <td>
            <a href="https://build.kde.org/job/Extragear/job/kmymoney/job/stable-kf5-qt5%20SUSEQt5.14/"><img src="https://build.kde.org/buildStatus/icon?job=Extragear/kmymoney/stable-kf5-qt5 SUSEQt5.14"></a>
        </td>
        <td>
            <a href="https://build.kde.org/job/Extragear/job/kmymoney/job/stable-kf5-qt5%20WindowsMSVCQt5.14/"><img src="https://build.kde.org/buildStatus/icon?job=Extragear/kmymoney/stable-kf5-qt5 WindowsMSVCQt5.14"></a>
        </td>
        <td>
            <a href="https://build.kde.org/job/Extragear/job/kmymoney/job/stable-kf5-qt5%20FreeBSDQt5.14/"><img src="https://build.kde.org/buildStatus/icon?job=Extragear/kmymoney/stable-kf5-qt5 FreeBSDQt5.14"></a>
        </td>
      </tr>
    </tbody>
  </table>

  <hr/>
  <h2>Development Qt5</h2>

  <h3>Alkimia</h3>

  <table>
    <thead>
      <th>Linux</th><th>Windows</th><th>FreeBSD</th>
    </thead>
    <tbody>
      <tr>
        <td>
            <a href='https://build.kde.org/job/Extragear/job/alkimia/job/kf5-qt5%20SUSEQt5.14/'><img src='https://build.kde.org/buildStatus/icon?job=Extragear/alkimia/kf5-qt5 SUSEQt5.14'></a>
        </td>
        <td>
            <a href='https://build.kde.org/job/Extragear/job/alkimia/job/kf5-qt5%20WindowsMSVCQt5.14/'><img src='https://build.kde.org/buildStatus/icon?job=Extragear/alkimia/kf5-qt5 WindowsMSVCQt5.14'></a>
        </td>
        <td>
            <a href='https://build.kde.org/job/Extragear/job/alkimia/job/kf5-qt5%20FreeBSDQt5.14/'><img src='https://build.kde.org/buildStatus/icon?job=Extragear/alkimia/kf5-qt5 FreeBSDQt5.14'></a>
        </td>
      </tr>
    </tbody>
  </table>

  <h3>KMyMoney</h3>

  <table>
    <thead>
      <th>Coverty static code analysis</th>
    </thead>
    <tbody>
      <tr>
        <td><center>
          <a href="https://scan.coverity.com/projects/kmymoney"><img alt="Coverity Scan Build Status" src='https://scan.coverity.com/projects/5215/badge.svg?flat=1'></a>
        </center></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>

  <table>
    <thead>
      <th>Linux</th><th>Windows</th><th>FreeBSD</th>
    </thead>
    <tbody>
      <tr>
        <td>
            <a href='https://build.kde.org/job/Extragear/job/kmymoney/job/kf5-qt5%20SUSEQt5.14/'><img src='https://build.kde.org/buildStatus/icon?job=Extragear/kmymoney/kf5-qt5 SUSEQt5.14'></a>
        </td>
        <td>
            <a href='https://build.kde.org/job/Extragear/job/kmymoney/job/kf5-qt5%20WindowsMSVCQt5.14/'><img src='https://build.kde.org/buildStatus/icon?job=Extragear/kmymoney/kf5-qt5 WindowsMSVCQt5.14'></a>
        </td>
        <td>
            <a href='https://build.kde.org/job/Extragear/job/kmymoney/job/kf5-qt5%20FreeBSDQt5.14/'><img src='https://build.kde.org/buildStatus/icon?job=Extragear/kmymoney/kf5-qt5 FreeBSDQt5.14'></a>
        </td>
      </tr>
    </tbody>
  </table>

  <hr/>
  <h2>Nightly Package Builds (stable)</h2>
  <table>
    <thead>
      <th>Windows MSVC</th><th>Windows MinGW</th><th>MacOS</th><th>AppImage</th>
    </thead>
    <tbody>
      <tr>
        <td align="center">
            <a href='https://binary-factory.kde.org/job/KMyMoney_Release_win64/'><img src='https://binary-factory.kde.org/buildStatus/icon?job=KMyMoney_Release_win64'></a>
        </td>
        <td align="center">
            <a href='https://binary-factory.kde.org/job/KMyMoney_Release_mingw64/'><img src='https://binary-factory.kde.org/buildStatus/icon?job=KMyMoney_Release_mingw64'></a>
        </td>
        <td align="center">
            <a href='https://binary-factory.kde.org/view/MacOS/job/KMyMoney_Release_macos/'><img src='https://binary-factory.kde.org/buildStatus/icon?job=KMyMoney_Release_macos'></a>
        </td>
        <td align="center">
            <a href='https://binary-factory.kde.org/job/KMyMoney_Stable_Appimage_Build/'><img src='https://binary-factory.kde.org/buildStatus/icon?job=KMyMoney_Stable_Appimage_Build'></a>
        </td>
      </tr>
    </tbody>
  </table>



  <h2>Nightly Package Builds (unstable)</h2>
  <table>
    <thead>
      <th>Windows MSVC</th><th>Windows MinGW</th><th>MacOS</th><th>AppImage</th>
    </thead>
    <tbody>
      <tr>
        <td align="center">
            <a href='https://binary-factory.kde.org/job/KMyMoney_Nightly_win64/'><img src='https://binary-factory.kde.org/buildStatus/icon?job=KMyMoney_Nightly_win64'></a>
        </td>
        <td align="center">
            <a href='https://binary-factory.kde.org/job/KMyMoney_Nightly_mingw64/'><img src='https://binary-factory.kde.org/buildStatus/icon?job=KMyMoney_Nightly_mingw64'></a>
        </td>
        <td align="center">
            <a href='https://binary-factory.kde.org/view/MacOS/job/KMyMoney_Nightly_macos/'><img src='https://binary-factory.kde.org/buildStatus/icon?job=KMyMoney_Nightly_macos'></a>
        </td>
        <td align="center">
            <a href='https://binary-factory.kde.org/job/KMyMoney_Nightly_Appimage_Build/'><img src='https://binary-factory.kde.org/buildStatus/icon?job=KMyMoney_Nightly_Appimage_Build'></a>
        </td>
      </tr>
    </tbody>
  </table>
</center>
