---
title : "the BEST Personal Finance Manager for FREE Users, full stop."
layout: default
---

<style>
#home-available {
  background-color: rgba(61,174,233, 0.1);
}
</style>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "SoftwareApplication",
  "name": "KMyMoney",
  "abstract": "An open source personal finance manager",
  "applicationCategory": "Office",
  "author": {
    "@type": "Organization",
    "name": "KDE",
    "url": "https://kde.org"
  },
  "license": "https://cgit.kde.org/kmymoney.git/tree/COPYING",
  "availableOnDevice": "PC",
  "downloadUrl": "https://kmymoney.org/download.html",
  "featureList": "Ledger, double-entry accounting",
  "operatingSystem": "Linux, Microsoft Windows",
  "screenshot": "https://cdn.kde.org/screenshots/kmymoney/kmymoney.png",
  "softwareHelp": "https://docs.kde.org/stable5/en/extragear-office/kmymoney/index.html",
  "softwareVersion": "{{ site.softwareVersion }}",
  "offers": {
    "@type": "Offer",
    "price": "0.0",
    "priceCurrency": "USD"
  }
}
</script>

<section id="kHeader" class="carousel mb-0">
  <div class="carousel-item active">
    <div class="carousel-item-content pl-4 pr-4">
      <div class="slide-background" style="background-image: url(https://cdn.kde.org/screenshots/kmymoney/kmymoney.png)"></div>
      <div class="carousel-text-overlay">
        <h1>KMyMoney</h1>
        <p>A Personal Finance Manager for humans</p>
        <a class="button learn-more mb-3 mt-3" href="/download.html">Install KMyMoney</a>
      </div>
    </div>
  </div>
</section>

<main>
<section id="home-available" class="pb-5 pt-5 mt-0">
  <div class="container text-center">
    <h2>Available on all major platforms</h2>
    <div class="d-flex justify-content-center mb-4">
      <img src="/assets/img/tux.png" class="img-fluid ml-3 mr-3 align-self-center" width="64" />
      <img src="/assets/img/macOS.svg" class="img-fluid ml-3 mr-3 align-self-center" width="64" />
      <img src="/assets/img/windows.svg" class="img-fluid ml-3 mr-3 align-self-center" width="64" />
    </div>
    <a href="/download.html" class="button">Download</a>
  </div>
</section>

<section id="home-intro">
  <div class="container">
    <h1>What is KMyMoney?</h1>

    <p>
      KMyMoney is a cross-platform personal finance manager build on <a href="https://kde.org/products/frameworks/">KDE frameworks technologies</a> for your desktop and notebook environment. It enables users to keep careful track of their personal finances by providing a broad array of financial features and tools.
    </p>
    <p>
      The principal goals of the application are:
    </p>
  </div>
</section>

<section id="home-easy-of-use">
  <div class="container">
    <h2>Ease of use</h2>
    <p>
      KMyMoney strives to be the easiest open
      source personal finance manager to use, especially for the
      non-technical user.
    </p>
  </div>
</section>

<section id="home-familiarity">
  <div class="container">
    <h2>Familiarity</h2>
    <p>
      KMyMoney already provides the most important features found in
      commercially-available personal finance managers and we are constantly
      planning, testing and releasing new features to fit every task you'll
      ever encounter.
    </p>
  </div>
</section>

<section id="home-accuracy">
    <div class="container">
    <h2>Accuracy</h2>
    <p>
      Using time-tested, double-entry accounting principles, KMyMoney can
      help ensure that your finances are recorded as they should.
    </p>
  </div>
</section>
</main>
